@media (min-width: 768px) {
  .content-heading {
      padding-top: 0;
  }
  .table-responsive {
      display: table;
  }
  .modal-dialog {
    min-height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: auto;
  }
}

@media (max-width: 767px) {
  .table-responsive {
      display: block;
  }
  .modal-dialog {
    min-height: calc(100vh - 50px);
  }
}

.css-checkbox .css-control-input:checked~.css-control-indicator {
  border: none !important;
}
.content-heading {
    padding-top: 0;
}
.border-0 {
  border: 0;
}
.file-input {
  margin-top: 12px;
}
.file-preview {
  border-radius: 0;
}
.file-drop-zone.clickable:hover {
  border: 1px dashed #227d82;
}
table tbody tr > td,
table thead tr > th {
  text-align: center;
}
.badge {
  padding: 6px 5px;
  font-size: 100%;
}
.img-show-small {
  width: 150px;
  height: 150px;
  object-fit: cover;
}
.krajee-default.file-preview-frame {
  padding : 0;
}
.img-trash {
  width: 252.5px;
  height: 150px;
  object-fit: cover;
}
.css-radio .css-control-input~.css-control-indicator::after {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.img-table {
  width: 100%;
  height: 100px;
  object-fit: cover;
}
.form-material .form-control[disabled] {
  color: #ccc;
}
.border-b-3 {
  border-bottom: 3px solid;
}
.py-25 {
  padding: 25px 0;
}
.py-29 {
  padding: 29px 0;
}
.img-avatar {
  object-fit: cover;
}
.justify-content-center {
  justify-content: center;
}
.css-control-input:focus ~ .css-control-indicator {
  box-shadow: none !important;
}
/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

body {
  color: #888!important;
}

/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/

/* Rounded tabs */

@media (min-width: 576px) {
  .rounded-nav {
    border-radius: 50rem !important;
  }
}

@media (min-width: 576px) {
  .rounded-nav .nav-link {
    border-radius: 50rem !important;
  }
}

/* With arrow tabs */

.with-arrow .nav-link.active {
  position: relative;
}

.with-arrow .nav-link.active::after {
  content: '';
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #2b90d9;
  position: absolute;
  bottom: -6px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
}

/* lined tabs */

.lined .nav-link {
  border: none;
  border-bottom: 1px solid transparent;
}

.lined .nav-link:hover {
  border: none;
  border-bottom: 1px solid transparent;
}

.lined .nav-link.active {
  background: none;
  color: #555;
  border-color: #2b90d9;
}

/*
*
* ==========================================
* FOR DEMO PURPOSE
* ==========================================
*
*/

body {
  background: #304352;
  background: -webkit-linear-gradient(to right, #304352, #d7d2cc);
  background: linear-gradient(to right, #304352, #d7d2cc);
  min-height: 100vh;
}

.nav-pills .nav-link {
  color: #555;
}
.text-uppercase {
  letter-spacing: 0.1em;
}